@inject IServicoProduto ServicoProduto

<div class="container-cards">
    @foreach (var product in ServicoProduto.Leiloes)
    {
       
                            <li class="card my-3">
                                <div class="card-img-wrapper">
                                            <a href="/produtoadmin/@product.CodLeilao">
                                        <img class="card-img" src="@product.Images.ElementAt(0)" alt="@product.Name" />
                                    </a>
                                </div>
                                <div class="card-text">
                                    <a href="/produto/@product.CodLeilao">
                                        <h4 class="mb-0">@product.Name</h4>
                                    </a>
                                    <p>Entrada: @product.EntryPrice €</p>
                                    <p>Tempo Restante: @product.Location</p>
                                </div>
                            </li>
        
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ServicoProduto.loadLeiloes();
    }
}



                                   